<div class="vendorList">
  <h1>Add Bracket</h1>
  <div class="selectDiv">
    <select id="selectOption" multiple=multiple size="10">
    <option class="option" value="defaultmessage"><img src="assets/ObjectNote.png"><span>Bracket 1</span></option>
    <option class="option" value="Bracket_3.babylon"><img src="assets/ObjectNote.png"><span>Bracket 2</span></option> 
    <option class="option" value="Bracket_3.babylon"><img src="assets/ObjectNote.png"><span>Bracket 3</span></option> 
    <option class="option" value="Bracket_3.babylon"><img src="assets/ObjectNote.png"><span>Bracket 4</span></option> 
    <option class="option" value="Bracket_3.babylon"><img src="assets/ObjectNote.png"><span>Bracket 5</span></option> 
    <option class="option" value="Bracket_3.babylon"><img src="assets/ObjectNote.png"><span>Bracket 6</span></option> 
    
    </select>
  </div>
  <br>
  <button id="importVendor" class="btn btn-black" (click)="addVendor()">import</button>    
</div>