<div class="columns">   
    <div class="column is-2">
        <app-vendor-list></app-vendor-list>
    </div>
    <div class="column columns is-multiline">
        <div class="column is-12">
            <app-canvas></app-canvas>
        </div>
        <div class="here column is-12">
            <app-gnote></app-gnote>   
        </div>
    </div>
</div>